{% extends 'layout.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Form Validation</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h4><i class="fa fa-angle-right"></i>Ajouter Categorie </h4>
                    <div class="form-panel">
                        <div class=" form">
                            {{   form_start(form, {'attr': {'class': 'cmxform form-horizontal style-form'} }) }}
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Nom Categorie du l'évenement </label>
                                <div class="col-lg-10">
                                    {{ form_row(form.nomCategorieEvenement, {'attr': {'class': 'form-control'} }) }}
                                    <div id="nome_err">
                                        {{ form_errors(form.nomCategorieEvenement) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cemail" class="control-label col-lg-2">Description </label>
                                <div class="col-lg-10">
                                    {{ form_row(form.description, {'attr': {'class': 'form-control description ' } }) }}
                                    <div id="Description_err">
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="ccomment" class="control-label col-lg-2">image du l'évenement </label>
                                <div class="col-lg-10">
                                    {{ form_row(form.image, {'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ form_row(form.Valider, {'attr': {'class': 'btn btn-theme','style':'float:left;'} }) }}
                                    <a href="{{ path('afficherCat') }}" style="padding-left : 20px; float:left;"><button class="btn btn-theme04" type="button">Annuler</button></a>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
            </div>
        </section>

        <!-- /wrapper -->
    </section>
    <script src="{{ asset ('assets/js/jquery.min.js') }}"></script>
    <script>

        $('#evenementbundle_categorieevenement_description').on('keyup', function () {
            var i = $('#evenementbundle_categorieevenement_description').val().length;
            if ($('#evenementbundle_categorieevenement_description').val() !== "") {
                $('#Description_err').show();
                var j = 255 - i;
                var msg = "Nombre de caractères atteint " + i + " , il vous reste " + j + " caractères sur 255";
                $('#Description_err').text(msg).css({
                    "font-size": "0.9em",
                    "color": "#3851F7"
                });
            }
            else {
                $('#Description_err').hide();
            }
        });

        $('#evenementbundle_categorieevenement_nomCategorieEvenement').on('keyup', function () {
            var content = $('#evenementbundle_categorieevenement_nomCategorieEvenement').val();
            var numericReg = /^[+]?[A-Z ]+([a-z ]+)?$/;
            if (!numericReg.test(content) && content !== "") {
                $('#nome_err').show();
                $('#nome_err').text("Veuillez choisir un nom qui commence avec une lettre majuscule et ne contient que des lettres").css({
                    "font-size": "0.9em",
                    "color": "#d85364"
                });
            }
            else {
                $('#nome_err').hide();
            }
        });



    </script>

    <!-- /MAIN CONTENT -->
{% endblock %}