{% extends 'layout.html.twig' %}
{% block content %}
    <!-- row -->
    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <div style="width: fit-content;float: right;">
                            <form action="{{ path('recherche_perso_admin') }}" method="get" style="margin-right: 32px;">
                                <input type="text" name="rech" class="form-control" style="float: left;width: 166px;">
                                <input type="submit" class="btn btn-compose" style="width: fit-content;margin-left: 10px;" value="Rechercher" >
                            </form>
                        </div>
                        <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> Recherche des Personnels</h4>
                            <hr>
                            <thead>
                            <tr>

                                <th class="hidden-phone">Matricule</th>
                                <th class="hidden-phone">Nom</th>
                                <th class="hidden-phone">Prenom</th>
                                <th class="hidden-phone">Date Debut Travail</th>
                                <th class="hidden-phone">Solde de Conge</th>
                                <th><i class=" fa fa-edit"></i> type</th>
                                <th><i class=" fa fa-edit"></i> description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pp in p %}
                                <tr>

                                    <td class="hidden-phone">{{ pp.matricule }}</td>
                                    <td class="hidden-phone">{{ pp.nom }}</td>
                                    <td class="hidden-phone">{{ pp.prenom }}</td>
                                    <td class="hidden-phone">{{ pp.dateDebTravail |date("d M Y")}}</td>
                                    <td class="hidden-phone">{{ pp.soldeConge }}</td>
                                    <td class="hidden-phone">{{ pp.type }}</td>
                                    <td class="hidden-phone">{{ pp.description }}</td>
                                    <td><span class="label label-info label-mini"></span></td>
                                    <td><a href="{{ path('modifierPer',{'id':pp.matricule}) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                                    <td><a href="{{ path('supprimerPer',{'id':pp.matricule}) }}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /content-panel -->
                </div>
                <!-- /col-md-12 -->
            </div>
            <!-- /row -->
        </section>
    </section>
{% endblock %}