{% extends 'base.html.twig' %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Our Events</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            {% for cc in c %}
                {% if cc.categorieEvenement.id==categorie.id %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('{{asset('/assets/images/' ~ cc.imgE)}}')">
                                <div class="meta-date text-center p-2">
                                    {{ cc.dateD | date }}
                                    Our Events      </div>
                            </a>
                            <div class="text bg-white p-4">
                                <h3 class="heading"><a href="#">{{ cc.nomE }}</a></h3>
                                <p></p>{{ cc.description }}
                                <div class="d-flex align-items-center mt-4">
                                    {% if cc.capaciteE !=0 %}
                                        <p class="mb-0"><a href="{{ path('ajouterReservation',{'id':cc.id}) }}" class="btn btn-secondary">Reserver<span class="ion-ios-arrow-round-forward"></span></a></p>
                                        <p class="ml-auto mb-0">
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="navigation container" style="position: absolute; left: 50%; ">
        {{ knp_pagination_render(c) }}
    </div>
</section>
    {% endblock %}
