{% extends 'base.html.twig' %}
{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">

            </div>
            <div class="row">
                {% for cc in pagination %}
                    <div class="col-md-6 course d-lg-flex ftco-animate">
                        <div class="img" style="background-image: url('{{asset('/assets/images/' ~ cc.image)}}')"></div>
                        <div class="text bg-light p-4">
                            <h3><a href="{{ path('afficher',{'id':cc.id}) }}">{{ cc.nomCategorieEvenement }}</a></h3>
                            <p>{{ cc.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation" style="position: absolute; left: 50%; ">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>




{% endblock %}