<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Evenement{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('Evenement/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/meanmenu.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Evenement/css/style1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


</head>
<body>

{% block content %}{% endblock %}


<script src="{{ asset('Evenement/js/plugins.js') }}"></script>
<script src="{{ asset('Evenement/js/jquery.min.js') }}"></script>
<script src="{{ asset('Evenement/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('Evenement/js/SmoothScroll.js') }}"></script>
<script src="{{ asset('Evenement/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('Evenement/js/jquery.meanmenu.js') }}"></script>
<script src="{{ asset('Evenement/js/jquery.scrollToTop.min.js') }}"></script>
<script src="{{ asset('Evenement/js/jqBootstrapValidation.js') }}"></script>
<script src="{{ asset('Evenement/js/magnific-popup.min.js') }}"></script>
<script src="{{ asset('Evenement/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('Evenement/js/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('Evenement/js/parallax.min.js') }}"></script>
<script src="{{ asset('Evenement/js/converter.js') }}"></script>
<script src="{{ asset('Evenement/js/contact.js') }}"></script>
<script src="{{ asset('Evenement/js/waypoints.min.js') }}"></script>
<script src="{{ asset('Evenement/js/jquery.counterup.js') }}"></script>
<script src="{{ asset('Evenement/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
