{% extends 'base.html.twig' %}
{% block styleshit %}
    <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap1.min.css') }}">
{% endblock %}
{% block content %}

    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-4 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Addresse</h3>
                        <p>Cite El khadhra 1003, Tunis
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Numero de contact</h3>
                        <p><a href="">	+2165537896
                            </a></p>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="bg-light align-self-stretch box p-4 text-center">
                        <h3 class="mb-4">Adresse Email</h3>
                        <p><a href="mailto:info@yoursite.com">	youssef.benhissi@esprit.tn</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.email, {'attr': {'class': 'form-control','placehloder':'Your Email'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Subscribe, {'attr': {'class': 'btn btn-primary py-3 px-5','value':'Send Message'} }) }}
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                    <img src="\assets\images\newsletters.png" width="600">
                </div>
            </div>
        </div>
    </section>


{% endblock %}