{% extends 'base.html.twig' %}
{% block content %}
    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url('{{asset('/assets/images/' ~ club.image)}}');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5 bg-primary">
                {{ form_start(form) }}
                    <div class="d-md-flex">
                        <div class="form-group ml-md-4">
                            <h1 style="font-family: 'Calisto MT'">{{ club.questionPr }}</h1>
                            {{ form_row(form.reponsePr, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div>
                        <div class="form-group ml-md-4">
                            <h1 style="font-family: 'Calisto MT'">{{ club.questionDe }}</h1>
                            {{ form_row(form.reponseDe, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="d-md-flex">

                        <div class="form-group ml-md-4">
                            <h1 style="font-family: 'Calisto MT'">{{ club.questionTr }}</h1>
                            {{ form_row(form.reponseTr, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group ml-md-4">
                            {{ form_row(form.valider, {'attr': {'class': 'btn btn-secondary py-3 px-4','value':'S incrire'} }) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </section>
{% endblock %}