{% extends 'base.html.twig' %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{ asset ('assets/images/unnamed.jpg') }}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Demande d'autorisation</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Demande <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-9 p-4 p-md-5 order-md-last bg-light" style="margin: auto;
                width: 50%;
                padding: 10px;">
                    {{ form_start(f,{'attr':{'novalidate': 'novalidate'} }) }}
                    <div class="form-group">
                        {{ form_row(f.description, {'attr': {'class': 'form-control'} }) }}

                    </div>
                    <div class="form-group">
                        {{ form_row(f.date_de_sortie, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(f.dateDeRetour, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(f.Envoyer, {'attr': {'class': 'btn btn-primary py-3 px-5'}}) }}
                    </div>
                    {{ form_end(f) }}
                </div>

            </div>
        </div>
    </section>

{% endblock %}