{% extends 'layout.html.twig' %}
{% block title %}Gestion de Blog - Categories {% endblock %}
{% block adminscript %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('.form-control').on('keyup',function(){

                if($(this).val().replace(/^\s+|\s+$/g, "").length == 0){
                    $(this).val('');
                    $(this).css('border-color','red');
                    $("[value='Rechercher']").attr("disabled", true);
                }else if($(this).val().replace(/^\s+|\s+$/g, "").length != 0){
                    $(this).css('border-color','');
                    $("[value='Rechercher']").attr("disabled", false);

                }
            });


        });




    </script>
{% endblock %}
{% block sidebaradmin %}
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="mt">
                    <a  href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li  class="mt">
                    <a class="active" href="{{ path('gestion_blog_homepage_Admin') }}">
                        <i class="fa fa-edit"></i>
                        <span>Gestion de Blog</span>
                    </a>
                </li>
                <li  class="mt">
                    <a href="{{ path('gestion.cours_homepage') }}">
                        <i class="fa fa-book"></i>
                        <span>Gestion Cours</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
{% endblock %}
{% block content %}

    <section id="main-content">
    <section class="wrapper" style="height: 559px;">
        <div class="row mt">


            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="{{ path('ajouter_categorie_Admin') }}" class="btn btn-compose">
                            <i class="fa fa-plus"></i>  Ajouter une catégorie
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li ><a href="{{ path('gestion_blog_homepage_Admin') }}"> <i class="fa fa-file-text"></i> Liste des Articles </a></li>
                            <li class="active"><a href="{{ path('Gestion_Categorie_Admin') }}"> <i class="fa fa-certificate"></i> Catégories  </a></li>
                            <li><a href="{{ path('Affiche_tags_admin') }}"> <i class="fa fa-tags"></i> Tags </a></li>



                        </ul>
                    </div>
                </section>

            </div>




            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            Liste des catégories :

                            <div style="width: fit-content;float: right;">
                                <form action="{{ path('Searche_cate_Admin') }}" method="get" >
                                    <input type="text" name="terme" class="form-control" style="width: 119px;height: 27px;float: left;margin-right: 5px;padding: 7px !important;">
                                    <input type="submit" class="btn btn-compose" value="Rechercher" style="width: 69px;height: 27px;font-size: 12px;color: white;padding: 0px 0px;float: left;padding-left: 2px;" >
                                </form>
                            </div>
                        </h4>
                    </header>


                    <div class="panel-body minimal">
                        <div class="table-inbox-wrap ">
                            <table class="table table-inbox table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>TYPE</th>
                                    <th>NOM</th>
                                    <th></th>
                                    <th>MODIFIER</th>
                                    <th>SUPPRIMER</th>
                                    <td class="view-message text-right"></td>
                                </tr>



{% for cate in cat %}
                                <tr class="">
                                    <td class="inbox-small-cells">
{{ cate.id }}
                                    </td>
                                    <td class="inbox-small-cells"><i class="fa fa-certificate"></i></td>
                                    <td class="view-message dont-show"><a href="{{ path('Affiche_categorie_User',{'id':cate.id})}}" target="_blank">{{ cate.nom }}</a></td>
                                    <td class="view-message"></td>
                                    <td class="view-message inbox-small-cells"><a href="{{ path('modifier_categorie_Admin',{'id':cate.id}) }}"><i style="color: #4b00ff; font-size: x-large;"  class="fa fa-edit"></i></a></td>
                                    <td class="view-message inbox-small-cells"><a href="{{ path('supprimer_categorie_Admin',{'id':cate.id}) }}"><i style="color: #ff000c; font-size: x-large;" class="fa fa-remove"></i></a></td>
                                    <td class="view-message text-right"></td>
                                </tr>

{% endfor %}



                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
























        </div>
    </section>
    </section>

{% endblock %}