{% extends 'layout.html.twig' %}
{% block content %}
    <section id="main-content">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Create your School</h1>
    {{ form_start(Form) }}
                <tr>
                    <td>Adresse</td>
            {{ form_widget(Form.adresse,{'attr':{'type':'text','required pattern':'[a-zA-Z-\.]{3,12}','class':'form-control','placeholder':'Adresse...'}}) }}
                </tr>
                <tr>
                    <td>Nom</td>
                    {{ form_widget(Form.nom,{'attr':{'type':'text','required pattern':'[a-zA-Z-\.]{3,12}','class':'form-control','placeholder':'Nom...'}}) }}
                </tr>
                <tr>
                    <td>Image</td>
                    {{ form_widget(Form.image,{'attr':{'type':'file','class':'form-control','placeholder':'images...'}}) }}
                </tr>
                <tr>
                    <td>Num Tel</td>
                    {{ form_widget(Form.numTel,{'attr':{'type':'number','required pattern':'[0-9]','class':'form-control','placeholder':'NUM DE TEL...'}}) }}
                    <div id="capacite_err">
                        {{ form_errors(Form.numTel,{'label_attr':{'class' : 'capacite'}}) }}
                    </div>
                </tr>
    {{ form_end(Form) }}
    </div>
    </div>
    </section>
    </section>
    <script>
        $(document).ready(function () {
            $('.capacite').on('keyup', function () {
                var content = $('.capacite').val();
                var numericReg = /^[+]?\d+([.]\d+)?$/;
                if (!numericReg.test(content) && content !== "") {
                    $('#capacite_err').show();
                    $('#capacite_err').text("Veuillez choisir un entier positif pour votre capacite").css({
                        "font-size": "0.9em",
                        "color": "#d85364"
                    });
                }
                else {
                    $('#capacite_err').hide();
                }
            });
        });
    </script>
{% endblock %}