
<center><div class="col-lg-6 col-md-8">
        <div class="ripple-container"></div>
        <div class="tab-content tab-space">
            <h1>LISTE ABONNéS</h1>
            <div class="tab-pane" id="pill1" style="margin-bottom: 25px; width: 1000px; height: 700px;  margin-left: 30px;">
                <center><table class="table" id="tableacc"  aligne ="center"   width="500">
                        <h4><i class="fa fa-angle-right"></i>Table des inscriptions</h4>
                        <hr>
                        <thead>
                        <tr>
                            <th class="hidden-phone">Nom de l'eleve</th>
                            <th class="hidden-phone">Prenom de l'eleve</th>
                            <th class="hidden-phone">Nom du club</th>
                            <th class="hidden-phone">question 1</th>
                            <th class="hidden-phone">reponse 1</th>
                            <th class="hidden-phone">question 2</th>
                            <th class="hidden-phone">reponse 2</th>
                            <th class="hidden-phone">question 3</th>
                            <th class="hidden-phone">reponse 3</th>
                            <th><i class=" fa fa-edit"></i> Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inscription in listeInscription %}
                            <tr class="odd gradeX" bgcolor="#faebd7">
                                <td class="hidden-phone">{{ inscription.eleve.username }}</td>
                                <td class="hidden-phone">{{ inscription.eleve.email }}</td>
                                <td class="hidden-phone">{{ inscription.Club.nom }}</td>
                                <td class="hidden-phone">{{ inscription.questionPr }}</td>
                                <td class="hidden-phone">{{ inscription.reponsePr }}</td>
                                <td class="hidden-phone">{{ inscription.questionDe }}</td>
                                <td class="hidden-phone">{{ inscription.reponseDe }}</td>
                                <td class="hidden-phone">{{ inscription.questionTr }}</td>
                                <td class="hidden-phone">{{ inscription.reponseTr }}</td>
                                <td><span class="label label-info label-mini">{{ inscription.status }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table></center>
            </div>

        </div>
    </div>
</center>
