{% extends 'layout.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Form Validation</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <div class=" form">
                            {{   form_start(form, {'attr': {'class': 'cmxform form-horizontal style-form'} }) }}

                            {{ form_label(form.nom,'Nom du club',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.nom,{'attr': {'class' : 'form-control'}}) }}
                            <div id="nom_err">
                                {{ form_errors(form.nom) }}
                            </div>



                            {{ form_label(form.capacite,'Capacite du club',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.capacite,{'attr': {'class' : 'form-control'}}) }}

                            <div id="capacite_err">
                                {{ form_errors(form.capacite) }}
                            </div>



                            {{ form_label(form.categorie,'Categorie du club',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.categorie,{'attr': {'class' : 'form-control'}}) }}



                            {{ form_label(form.questionPr,'Premiere question',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.questionPr,{'attr': {'class' : 'form-control'}}) }}
                            <div id="questionPremiere_err">
                                {{ form_errors(form.questionPr) }}
                            </div>


                            {{ form_label(form.questionDe,'deuxieme question pour le formulaire',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.questionDe,{'attr': {'class' : 'form-control'}}) }}


                            <div id="questionDeuxieme_err">
                                {{ form_errors(form.questionDe) }}
                            </div>

                            {{ form_label(form.questionTr,'Troisieme question pour le formulaire',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.questionTr,{'attr': {'class' : 'form-control'}}) }}


                            <div id="questionTroisieme_err">
                                {{ form_errors(form.questionDe) }}
                            </div>

                            {{ form_label(form.image,'Image du club',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.image,{'attr': {'class' : 'form-control'}}) }}


                            {{ form_label(form.description,'description',  {'attr': {'class': 'cmxform form-horizontal style-form'}} ) }}
                            {{ form_widget(form.description,{'attr': {'class' : 'form-control'}}) }}
                            <div id="description_err">
                                {{ form_errors(form.description) }}
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ form_row(form.Valider, {'attr': {'class': 'btn btn-theme','style':'float:left;'} }) }}
                                    <a href="{{ path('afficher_ctegorie') }}" style="padding-left : 20px; float:left;"><button class="btn btn-theme04" type="button">Cancel</button></a>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <script src="{{ asset ('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.capacite').on('keyup', function () {
                var content = $('.capacite').val();
                var numericReg = /^[+]?[1-9]+([.][0-9]+)?$/;
                if (!numericReg.test(content) && content !== "") {
                    $('#capacite_err').show();
                    $('#capacite_err').text("Veuillez choisir un entier positif pour votre capacite").css({
                        "font-size": "0.9em",
                        "color": "#d85364"
                    });
                }
                else {
                    $('#capacite_err').hide();
                }
            });
            $('#gererclubbundle_club_nom').on('keyup', function () {
                var content = $('#gererclubbundle_club_nom').val();
                var numericReg = /^[+]?[a-z]+([a-z]+)?$/;
                if (!numericReg.test(content) && content !== "") {
                    $('#nom_err').show();
                    $('#nom_err').text("Veuillez choisir un nom qui commence avec une lettre en majuscule et ne contient que des lettres").css({
                        "font-size": "0.9em",
                        "color": "#d85364"
                    });
                }
                else {
                    $('#nom_err').hide();
                }
            });
            $('#gererclubbundle_club_description').on('keyup', function () {
                var i = $('#gererclubbundle_club_description').val().length;
                if ($('#gererclubbundle_club_description').val() !== "") {
                    $('#description_err').show();
                    var j = 255 - i;
                    var msg = "Nombre de caractères atteint " + i + " , il vous reste " + j + " caractères sur 255";
                    $('#description_err').text(msg).css({
                        "font-size": "0.9em",
                        "color": "#3851F7"
                    });
                }
                else {
                    $('#description_err').hide();
                }
            });

            $('#gererclubbundle_club_questionPr').on('keyup', function () {
                var i = $('#gererclubbundle_club_questionPr').val().length;
                if ($('#gererclubbundle_club_questionPr').val() !== "") {
                    $('#questionPremiere_err').show();
                    var j = 255 - i;
                    var msg = "Nombre de caractères atteint " + i + " , il vous reste " + j + " caractères sur 255";
                    $('#questionPremiere_err').text(msg).css({
                        "font-size": "0.9em",
                        "color": "#3851F7"
                    });
                }
                else {
                    $('#questionPremiere_err').hide();
                }
            });

            $('#gererclubbundle_club_questionDe').on('keyup', function () {
                var i = $('#gererclubbundle_club_questionDe').val().length;
                if ($('#gererclubbundle_club_questionDe').val() !== "") {
                    $('#questionDeuxieme_err').show();
                    var j = 255 - i;
                    var msg = "Nombre de caractères atteint " + i + " , il vous reste " + j + " caractères sur 255";
                    $('#questionDeuxieme_err').text(msg).css({
                        "font-size": "0.9em",
                        "color": "#3851F7"
                    });
                }
                else {
                    $('#questionDeuxieme_err').hide();
                }
            });
            $('#gererclubbundle_club_questionTr').on('keyup', function () {
                var i = $('#gererclubbundle_club_questionTr').val().length;
                if ($('#gererclubbundle_club_questionTr').val() !== "") {
                    $('#questionTroisieme_err').show();
                    var j = 255 - i;
                    var msg = "Nombre de caractères atteint " + i + " , il vous reste " + j + " caractères sur 255";
                    $('#questionTroisieme_err').text(msg).css({
                        "font-size": "0.9em",
                        "color": "#3851F7"
                    });
                }
                else {
                    $('#questionTroisieme_err').hide();
                }
            });
        });
    </script>
{% endblock %}