{% extends 'layout.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Form Validation</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <h4><i class="fa fa-angle-right"></i>Ajouter Club</h4>
                    <div class="form-panel">
                        <div class=" form">
                            {{   form_start(form, {'attr': {'class': 'cmxform form-horizontal style-form'} }) }}
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-2">Nom du club (required)</label>
                                <div class="col-lg-10">
                                    {{ form_row(form.nomCategorie, {'attr': {'class': 'form-control'} }) }}
                                    <div id="nom_err">
                                        {{ form_errors(form.nomCategorie) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    {{ form_row(form.Valider, {'attr': {'class': 'btn btn-theme','style':'float:left;','value':'ajouter'} }) }}
                                    <a href="{{ path('afficher_ctegorie') }}" style="padding-left : 20px; float:left;"><button class="btn btn-theme04" type="button">Cancel</button></a>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /form-panel -->
                </div>
                <!-- /col-lg-12 -->
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <script src="{{ asset ('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#gererclubbundle_categorieclub_nomCategorie').on('keyup', function () {
                var content = $('#gererclubbundle_categorieclub_nomCategorie').val();
                var numericReg = /^[+]?[A-Z]+([a-z]+)?$/;
                if (!numericReg.test(content) && content !== "") {
                    $('#nom_err').show();
                    $('#nom_err').text("Veuillez choisir un nom que sa longuer est suprieur a 2 et inferieur a 50").css({
                        "font-size": "0.9em",
                        "color": "#d85364"
                    });
                }
                else {
                    $('#nom_err').hide();
                }
            });
        });
    </script>
{% endblock %}