{% extends 'layout.html.twig' %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Contact Form</h3>
        <div class="row mt">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4 class="title">modification form</h4>
                <div id="message"></div>
                {{   form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.nomCategorie, {'attr': {'class': 'form-control'} }) }}
                        <div id="nom_err">
                            {{ form_errors(form.nomCategorie) }}
                        </div>
                    </div>
                    <div class="form-send">
                        {{ form_row(form.Valider, {'attr': {'class': 'btn btn-large btn-primary'} }) }}
                    </div>
                {{   form_end(form) }}
            </div>
        </div>
    </section>
</section>
    <script src="{{ asset ('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#gererclubbundle_categorieclub_nomCategorie').on('keyup', function () {
                var content = $('#gererclubbundle_categorieclub_nomCategorie').val();
                var numericReg = /^[+]?[a-z]+([a-z]+)?$/;
                if (!numericReg.test(content) && content !== "") {
                    $('#nom_err').show();
                    $('#nom_err').text("Veuillez choisir un nom que sa longuer est suprieur a 2 et inferieur a 50 et ne conteint que des lettres").css({
                        "font-size": "0.9em",
                        "color": "#d85364"
                    });
                }
                else {
                    $('#nom_err').hide();
                }
            });
        });
    </script>
{% endblock %}