{% extends 'layout.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Contact Form</h3>
            <div class="row mt">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="title">modification form</h4>
                    <div id="message"></div>
                    {{   form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.capacite, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.image, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.categorie, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.questionPr, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.questionDe, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.questionTr, {'attr': {'class': 'form-control'} }) }}
                        <div class="validate"></div>
                    </div>
                    <div class="form-send">
                        {{ form_row(form.Modifier, {'attr': {'class': 'btn btn-large btn-primary'} }) }}
                    </div>
                    {{   form_end(form) }}
                </div>
            </div>
        </section>
    </section>
{% endblock %}