

{% extends 'base.html.twig' %}
   {% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{{asset('Front/images/bg_2.jpg')}}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Libraary</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Library <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
        {% for cat in cats %}
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry">
                <a href="" class="block-20 d-flex align-items-end" style="background-image: url({{ asset('images/'~cat.nomImage ) }});"></a>
                    <div class="text bg-white p-4">
                        <h3 class="heading">{{ cat.nomImage }}</h3>
                        <p>description: {{cat.libelle}}</p>
                        <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="{{ path('bibliothequeback_detailsCatFront',{'id':cat.id}) }}" class="btn btn-secondary">Afficher liste<span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
