

{% extends 'base.html.twig' %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('images/') }}{{ category.nomImage }}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Libraary</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Library <i class="ion-ios-arrow-forward"></i></span>
            <span>{{category.libelle}} <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>








    <section class="ftco-section">
    <div class="container">
        <div class="row">
        {% for livre in livres %}
            <div class="col-md-6 course d-lg-flex ftco-animate fadeInUp ftco-animated">
                <div class="img" style="background-image: url({{ asset('images/') }}{{ livre.nomImage }}"></div>
                <div class="text bg-light p-4">
                    <h3><a href="{{path('bibliothequeback_detailsLivreFront',{'id':livre.id})}}">{{livre.nom}}</a></h3>
                    <p class="subheading">Auteur: {{livre.auteur}} </p>

                    <p>Status: {{ livre.status }}</p>
                    <span>Description: {{livre.description}} </span>
                    <p>{{livre.nombredepage}} pages</p>
                    {% if livre.status== "non reserve" %}
                    <button type="button" class="btn btn-secondary py-3 px-4'"><span class="btn-label"></span><a href="{{path('reserver',{'id':livre.id})}}}">reserver</a> </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


        </div>
    </div>
    </section>
        


{% endblock %}